[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DTAT"]
	path = DTAT
	url = https://github.com/cran/DTAT
	shallow = true
	registered = true
